<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock title %}</title>
        {% stylesheets '@bootstrap_less' combine = true output="application.css" %}
            <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
        {% endstylesheets%}
        {% block stylesheets %}{% endblock stylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}

            <header>
                {% block header %}
                {% endblock header %}
            </header>

            {% block navbar %}
            {% endblock navbar %}

            {% block container %}
                <div class="container-fluid">
                    <div class="content">
                        {% block content %}
                            {% block breadcrumb %}
                                <div class="row-fluid">
                                    {% if breadcrumbs is defined %}
                                        <div class="span8">
                                            <ul class="breadcrumb">
                                                {% for title, url in breadcrumbs %}
                                                    <li {% if loop.last %}class="active"{% endif %}>
                                                        {% if loop.last %}
                                                            <a href="{{ url}}">{{ title }}</a>
                                                            <span class="divider">/</span>
                                                        {% else %}
                                                            {{ title }}
                                                        {% endif %}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}

                                    <div class="span4">
                                        {% block button %}
                                        {% endblock button %}
                                    </div>
                                </div>
                            {% endblock breadcrumb %}

                            {% block flashes %}
                                
                            {% endblock flashes %}
                        {% endblock content %}
                    </div>
                </div>
            {% endblock container %}

            <footer>
                {% block footer %}
                {% endblock footer %}
            </footer>
        {% endblock body %}

        {% javascripts '@jquery_js' '@bootstrap_js' filter = '?yui_js' combine = true output="application.js" %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts%}
        {% block javascripts %}{% endblock javascripts %}
    </body>
</html>
