{% extends "::base.html.twig" %}

{% block header %}
    <div class="container-fluid">
        <div class="pull-left">
            <a href="{{ path('tarazz_core_homepage') }}">
                <img src="{{ asset('img/logo.png') }}" alt="Logo"/>
            </a>
        </div>
        <div class="pull-right">
            <h1>Management Suite</h1>

            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% endif %}
        </div>
    </div>
{% endblock header %}

{% block navbar %}
    <div class="navbar-inner">
        <div class="container-fluid">
            <div class="nav-collapse collapse">
                {{ knp_menu_render('main', {'currentClass': 'active', 'template': 'TarazzCoreBundle:Menu:knp_menu.html.twig'}) }}
            </div>
        </div>
    </div>
{% endblock navbar%}